<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Followers</title>
        <link href="/css/Followers.css" rel="stylesheet" type="text/css">
    </head>
    <body id="body">
        <% if (doDisplay) %>
            <% if (dispData.length > 0) { %>
                <h1 id="MainHeaderStyle"><%=USN%>'s followers: </h1>
                <div id="folSDIV">
                <% dispData.forEach(data => { %>
                    <div class="singleFol">
                        <a href="/aaa">
                            <h1><%=JSON.stringify(data.follower_usn)%></h1>
                        </a>
                    </div>
                <% }) %>
                </div>
            <% } else {%>      
                <h1 id="MainHeaderStyle">No Followers!</h1>
            <% } %> 
        <% } else { %>
            <h1 id="MainHeaderStyle">The </h1>
    </body>
</html>